<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <nav>
    <div role="menubar">
      <a role="menuitem" href=""><img src="https://upload.wikimedia.org/wikipedia/en/d/d3/BITS_Pilani-Logo.svg" title="News Icon"
          alt="News Icon"></a>
      <!-- <a (click)="searchData('India')" (keyup.enter)="searchData('India')" tabindex="0">India</a>
      <a (click)="searchData('World')" (keyup.enter)="searchData('World')" tabindex="0">World</a>
      <a (click)="searchData('Politics')" (keyup.enter)="searchData('Politics')" tabindex="0">Politics</a>
      <a (click)="searchData('Business')" (keyup.enter)="searchData('Business')" tabindex="0">Business</a>
      <a (click)="searchData('Opinion')" (keyup.enter)="searchData('Opinion')" tabindex="0">Opinion</a>
      <a (click)="searchData('Health')" (keyup.enter)="searchData('Health')" tabindex="0">Health</a>
      <a (click)="searchData('Entertainment')" (keyup.enter)="searchData('Entertainment')"
        tabindex="0">Entertainment</a>
      <a (click)="searchData('Style')" (keyup.enter)="searchData('Style')" tabindex="0">Style</a>
      <a (click)="searchData('Travel')" (keyup.enter)="searchData('Travel')" tabindex="0">Travel</a>
      <a (click)="searchData('Sports')" (keyup.enter)="searchData('Sports')" tabindex="0">Sports</a> -->

      <a role="menuitem" (click)="searchData('India')" (keyup.enter)="searchData('India')" tabindex="0">India</a>
      <a role="menuitem" (click)="searchData('World')" (keyup.enter)="searchData('World')" tabindex="0">World</a>
      <a role="menuitem" (click)="searchData('Politics')" (keyup.enter)="searchData('Politics')" tabindex="0">Politics</a>
      <a role="menuitem" (click)="searchData('Business')" (keyup.enter)="searchData('Business')" tabindex="0">Business</a>
      <a role="menuitem" (click)="searchData('Opinion')" (keyup.enter)="searchData('Opinion')" tabindex="0">Opinion</a>
      <a role="menuitem" (click)="searchData('Health')" (keyup.enter)="searchData('Health')" tabindex="0">Health</a>
      <a role="menuitem" (click)="searchData('Entertainment')" (keyup.enter)="searchData('Entertainment')" tabindex="0">Entertainment</a>
      <a role="menuitem" (click)="searchData('Style')" (keyup.enter)="searchData('Style')" tabindex="0">Style</a>
      <a role="menuitem" (click)="searchData('Travel')" (keyup.enter)="searchData('Travel')" tabindex="0">Travel</a>
      <a role="menuitem" (click)="searchData('Sports')" (keyup.enter)="searchData('Sports')" tabindex="0">Sports</a>


    </div>
    <div>
      <a (click)="setLanguage('eng','en')" (keyup.enter)="setLanguage('eng','en')" tabindex="0">English</a>
      <a (click)="setLanguage('deu','de')" (keyup.enter)="setLanguage('deu','de')" tabindex="0">German</a>
      <a (click)="setLanguage('fra','fr')" (keyup.enter)="setLanguage('fra','fr')" tabindex="0">French</a>
      <a (click)="setLanguage('ita','it')" (keyup.enter)="setLanguage('ita','it')" tabindex="0">Italian</a>
      <br>
      <button aria-label="search button" (click)="onIconClick()" (keyup.enter)="onIconClick()" tabindex="0">
        <i class="bi bi-search" style="cursor: pointer; font-size: 1.2rem;"></i>
      </button>
    </div>
  </nav>
</body>

</html>